:root{
--fc-page-bg-color: none    ;
}

.fc-day-mon{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 10px !important;
    border-right-color: white;
}
.fc-day-sat{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.fc-day-today.fc-timegrid-col{
    background-color: transparent !important;
}
.fc-scrollgrid {
    border-color: transparent !important;
    ;
}
.fc-scrollgrid td:last-of-type {
    border-right-color: transparent !important;
    border-left-color: transparent !important;
    
}
.fc-scrollgrid-section.fc-scrollgrid-section-body td[role='presentation'] {
    border-bottom-color: transparent !important;
    
}
[role='row']:last-of-type td {
    border-bottom-color: transparent !important;
    
}
th[role='presentation'] {
    border-right-color: transparent !important;
    background-color: transparent!important;
}

.fc-timegrid-now-indicator-container{
    display: none;
}

.fc-timegrid-slot-label{
    border: none !important;
}

.fc-timegrid-axis{
    border: none !important;
}
.fc-event:hover {
    /* background-color: #ffcc00 !important; /* Cambia el color de fondo */
    border-color: #ffaa00 !important; /* Cambia el color del borde */
    
    /* opacity: 0.8; /* Ajusta la opacidad */
    cursor: pointer; /* Cambia el cursor */
  }